In [2]:
# 임포트
import pandas as pd

In [3]:
### 시리즈 데이터 생성하기

sd1 = pd.Series(["Doc","Cat","Tiger","Lion","Monkey"], index = [0, 1, 2, 3, 4]) # 인덱스 번호와 값만 나오고 컬럼이 없는 형태

sd1

0       Doc
1       Cat
2     Tiger
3      Lion
4    Monkey
dtype: object

In [5]:
# 딕셔너리 데이터 -> 시리즈로 생성
dict_data = {0:"Doc",1:"Cat",2:"Tiger"}
dict_data

sd2 = pd.Series(dict_data)
sd2

0      Doc
1      Cat
2    Tiger
dtype: object

In [6]:
# 타입 확인
print("type : ", type(sd2))

type :  <class 'pandas.core.series.Series'>

In [7]:
list_data = ["Dog", "Cat", "Tiger"]
sd3 = pd.Series(list_data)
sd3

0      Dog
1      Cat
2    Tiger
dtype: object

In [8]:
# 튜플 : 리스트와 동일한 구조, 사용법 동일, 수정 안됨, 수정하려면 다시만들어야함
tup_data = ("Dog","Cat","Tiger")
sd4 = pd.Series(tup_data)
sd4

0      Dog
1      Cat
2    Tiger
dtype: object

In [11]:
# 데이터프레임 생성

#딕셔너리 형태로 생성
dict_data={"동물":["Dog","Cat","Tiger","Lion","Monkey"],
          "나이":[7,9,2,3,1]}
dict_data

df1 = pd.DataFrame(dict_data)
df1

       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1

In [15]:
# 리스트 형태로 생성 / 2차원으로 만들어야
list_data = [["Dog",7], ["Cat",9], ["Tiger",2],
             ["Lion",3], ["Monkey",1]]
df2 = pd.DataFrame(list_data, columns = ["동물","나이"])
df2

       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1

In [ ]:
# # 리스트 두개로 생성
# a = []
# b =[]
# df2 = pd.DataFrame(a, columns = b)

In [ ]:
# 특정행만 조회
# 인덱스값을 이용해서 특정행 조회
tips_del.loc