# esc 파랑색 만들고 m누르면 In이 없어진다.
## 1 파랑 상태에서 b누르면 쉘 추가, x누르면 삭제
### 2 단축키 꼭 활용해야한다 !
#### 3 파랑상태에서 enter누르면 초록이돼서 코드작성가능
##### ctrl + enter 하면 실행이다  / 쉬프트 엔터, 알트 엔터

In [10]:
jumin = 1
if jumin % 2 == 1 :
    print("남")
else:
    print("여")

남

In [16]:
jumin = "1836310"
first_num = jumin[0]
if int(first_num) % 2 == 1 :
    print("남")
else:
    print("여")

남

In [27]:
# 문자열함수 포맷팅
name = "홍길동"
age = 20
"나의 이름은 {}이고, 나이는 {}입니다.".format(name,age)
"나의 이름은 {0}이고, 나이는 {1}입니다.".format(name,age)
 
y = 2023
m = 1
d = 3
"{}-{}-{}".format(y,m,d)

'2023-1-3'

In [26]:
print("나의 이름은 %s이고, 나이는 %d입니다." % (name,age))

나의 이름은 홍길동이고, 나이는 20입니다.

In [30]:
### 숫자의 범위 함수
# range(a,b,c)
# (시작값, 끝값-1, 증가값)

# 반복문 for, while
for i in range(1,101):
    print(i, end=' ')
    #print("{}번째 출력".format(i))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [32]:
i = 1
while i <= 100:
    print(i, end=' ')
    i+=1
    
#무한 루프
i = 0
while(True):
    print(i, end=' ')
    i += 1
    if i >= 101:
        break
        
# 반복건너뛰기 : continue
# 반복종료하기 : break

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [33]:
#0~100 범위에서 짝수의 총합
sum = 0
for i in range(0,101):
    if i % 2 == 0:
        sum = sum + i
print(sum)

2550

In [37]:
for i in range(11):
    for j in range(3):
        print("{} / {}".format(i,j))

IndentationError: expected an indented block (2138689750.py, line 3)

In [39]:
# 빈공간에 0값 넣기
"1".zfill(4)

'0001'

In [45]:
y = 2023
m= 1
d = 3
print("{}-{}-{}".format(y,str(m).zfill(2),str(d).zfill(2)))

2023-01-03

In [50]:
# 2010년 1월 부터 2022년 12월 까지의 년월(0000-00)을 출력
y = 2010
m = 1
# while(y<2023):
#     print("{}-{}".format(y,str(m).zfill(2)))
#     m += 1
#     if(m == 13):
#         y += 1
#         m = 1
# +짝수 년,월 출력
for y in range(2010,2023):
    for m in range(1,13):
        if (y % 2 == 0 and m % 2 == 0):
            print("{}-{}".format(y,str(m).zfill(2)))

2010-02
2010-04
2010-06
2010-08
2010-10
2010-12
2012-02
2012-04
2012-06
2012-08
2012-10
2012-12
2014-02
2014-04
2014-06
2014-08
2014-10
2014-12
2016-02
2016-04
2016-06
2016-08
2016-10
2016-12
2018-02
2018-04
2018-06
2018-08
2018-10
2018-12
2020-02
2020-04
2020-06
2020-08
2020-10
2020-12
2022-02
2022-04
2022-06
2022-08
2022-10
2022-12

In [54]:
msg = "안녕하세요. 파이썬 입니다."
# for문으로 msg 문자열의 하나 하나 값을 출력하시오
for i in range(len(msg)):
    print(msg[i])

안
녕
하
세
요
.

파
이
썬

입
니
다
.

In [55]:
# 문자값 변환
msg_new = msg.replace(" ","")
print(msg,msg_new)

안녕하세요. 파이썬 입니다. 안녕하세요.파이썬입니다.

In [57]:
# 리스트 변수 생성
# 여래개 값 저장, 여러 종류 데이터 저장
li = [11,22,33,44,55,66,"a","b","c",1.2,1.3]
print(li, li[2])

[11, 22, 33, 44, 55, 66, 'a', 'b', 'c', 1.2, 1.3] 33

In [59]:
# 리스트에 값 추가 append()
li.append("hi")
print(li)
for i in range(len(li)):
    print(li[i])

[11, 22, 33, 44, 55, 66, 'a', 'b', 'c', 1.2, 1.3, 'hi', 'hi']
11
22
33
44
55
66
a
b
c
1.2
1.3
hi
hi

In [60]:
# for문 사용 1번째 : 리스트 숫자값(인덱스) 이용
for i in range(len(li)):
    print(li[i])

# for문 사용 2번째 : 리스트 내 값 이용
for val in li:
    print(val)

11
22
33
44
55
66
a
b
c
1.2
1.3
hi
hi
11
22
33
44
55
66
a
b
c
1.2
1.3
hi
hi

In [66]:
a = [10,23,30,45,50,60,70,80,90,100]
temp = []
# a의 값 중 짝수 값을 temp에 넣기

for i in range(len(a)):
    if a[i] % 2 == 0:
        temp.append(a[i])
for i in a:
    if i % 2 == 0:
        temp.append(i)

print(temp)

[10, 30, 50, 60, 70, 80, 90, 100]

In [67]:
print(a,temp)

[10, 23, 30, 45, 50, 60, 70, 80, 90, 100] [10, 30, 50, 60, 70, 80, 90, 100]

In [69]:
# 리스트 연산
print(a+temp)
print(a*2)

[10, 23, 30, 45, 50, 60, 70, 80, 90, 100, 10, 30, 50, 60, 70, 80, 90, 100]
[10, 23, 30, 45, 50, 60, 70, 80, 90, 100, 10, 23, 30, 45, 50, 60, 70, 80, 90, 100]

In [74]:
a = [[1,2,3,4,5],
     ['a','b','c','d','e'],
     ["홍","김","이","최","박"]]
print(a)
temp = []
# 위 a 안 모든 값을 추출해서 temp에 넣기

for val in a:
    print(val)

['홍길동', 24, ['부산', '부산진구', '대연동', 124, ['010-1234-4567']]]
홍길동
24
['부산', '부산진구', '대연동', 124, ['010-1234-4567']]

In [78]:
# {키:값,키:값,....} 키를 이용해 값 추출, 순서 없음
person = {"이름" : "홍길동",
          "나이" : 26,
          "주소" : "부산 부산진구 대연동 765",
          1 : "ㅁㅈㅇ"}
print(person,person["이름"],person["나이"],person[1])

{'이름': '홍길동', '나이': 26, '주소': '부산 부산진구 대연동 765', 1: 'ㅁㅈㅇ'} 홍길동 26 ㅁㅈㅇ

In [82]:
# 키 값 추출
print(person.keys())
# value 추출
print(person.values())
# 둘다 갖고 오기
print(person.items())

dict_keys(['이름', '나이', '주소', 1])
dict_values(['홍길동', 26, '부산 부산진구 대연동 765', 'ㅁㅈㅇ'])
dict_items([('이름', '홍길동'), ('나이', 26), ('주소', '부산 부산진구 대연동 765'), (1, 'ㅁㅈㅇ')])

In [85]:
# persom에 있는 value 값을 모두 추출해 temp에 넣은 후 출력

temp =[]
# for val in person.values():
#     temp.append(val)

for val in person.keys():
    temp.append(person[val])
    
print(temp)

['홍길동', 26, '부산 부산진구 대연동 765', 'ㅁㅈㅇ']

In [86]:
one = ['a','b','c','d','e','f']
two = [1,2,3,4,5,6]
dict = {1 : one, 2 : two}
print(dict)

{1: ['a', 'b', 'c', 'd', 'e', 'f'], 2: [1, 2, 3, 4, 5, 6]}

In [93]:
temp = []

# for val in dict.values():
#     for i in range(len(val)):
#         temp.append(val[i])
# print(temp)

for key in dict.keys():
    for i in range(len(dict[key])):
        temp.append(dict[key][i])
    
    
print(temp)

['a', 'b', 'c', 'd', 'e', 'f', 1, 2, 3, 4, 5, 6]

In [94]:
temp[0] = "z" #리스트
print(temp)

['z', 'b', 'c', 'd', 'e', 'f', 1, 2, 3, 4, 5, 6]

In [95]:
dict

{1: ['a', 'b', 'c', 'd', 'e', 'f'], 2: [1, 2, 3, 4, 5, 6]}

In [97]:
# 딕셔너리에 값넣기
dict[3] = [22,33,44,55,66,77]
dict[4] = ["awdfaf"]
dict

{1: ['a', 'b', 'c', 'd', 'e', 'f'],
 2: [1, 2, 3, 4, 5, 6],
 3: [22, 33, 44, 55, 66, 77],
 4: ['awdfaf']}

In [98]:
# 값 수정하기
dict[4] = "Cristal"
dict

{1: ['a', 'b', 'c', 'd', 'e', 'f'],
 2: [1, 2, 3, 4, 5, 6],
 3: [22, 33, 44, 55, 66, 77],
 4: 'Cristal'}

In [99]:
# 자주 반복해서 사용되는 프로그램을 하나의 이름으로 정의해 놓은 후 호출해서 사용, 함수 선언
# 매개변수 : 호출하는 쪽에서 넘겨주는 값을 받을 변수
def getAdd(a,b):
    return print(a+b)
# 함수 호출
getAdd(1,2)

3

In [101]:
def getMath(a,b,c):
    res = 0
    if c == "+":
        res = (a+b)
    elif c == "-":
        res = a-b
    elif c == "*":
        res = a*b
    elif c == "/":
        res = a/b
    return print(res)
li = ["+","-","*","/"]
for i in range(len(li)):
    getMath(1,2,li[i])

3
-1
2
0.5

In [112]:
def gugu(dan):
    if dan == 0:
        for i in range(1,10):
            for j in range(1,10):
                print(i*j,end=" ")
            print("")
            
    else:
        for i in range(1,10):
            print(dan * i)
        
gugu(0)

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [1]:
class MathClass:
    def getHap(self, num1, num2):
        s = num1 + num2
        return s
        
    def getMinus(self, num1, num2):
        s = num1 - num2
        return s
    
    def getGop(self, num1, num2):
        s = num1 * num2
        return s
    
    def getNa(self, num1, num2):
        s = num1 / num2
        return s
    
    def getNam(self, num1, num2):
        s = num1 % num2
        return s

In [2]:
# 클래스 선언
mm = MathClass()
print(mm)

<__main__.MathClass object at 0x0000028AE676E580>

In [3]:
# (.) : 접근지정자
mm.getHap(10,3)

13

In [7]:
# 라이브러리 읽어 들이기 (모듈) / 모듈 : .py로 만들어진 파일을 의미
import cs_module as cs_m

# 모듈 내 사용할 클래스 생성
util = cs_module.User_Util(10,5)

In [11]:
util.getPlus()

15

In [12]:
util.a = 100
util.b = 50
util.getPlus()

150

In [15]:
# 패키지 : 모듈들을 폴더 단위로 관리
from utils import fn_module as fn

pra = fn.User_Util(1,1)

In [16]:
pra.getPlus()

2