In [11]:
import pymysql
import pandas as pd

In [3]:
# mysql 접속하기
host = "localhost"
user = "pknu"
password = "dbdb"
db = "pknu"
charset = "utf8" # 한글처리
autocommit = True # 입력/수정/삭제 시 메모리 자동 적용
cursorclass = pymysql.cursors.DictCursor # 조회시 컬럼명과 데이터 함께 조회

In [4]:
# 예외처리
try:
    conn = pymysql.connect(host=host,
                           user=user,
                           password=password,
                           db=db,
                           charset=charset,
                           autocommit=autocommit,
                           cursorclass=cursorclass)
    print(conn)
except:
    print("서버를 확인해주세요")

<pymysql.connections.Connection object at 0x000002190F9F3550>

In [5]:
# MySQL로 부터 cursor 받아오기
# cursor : sql 문장을 실어나르고, MySQL 서버가 실행한 결과를 받아오는 역할 수행
cur = conn.cursor()
print(cur)

<pymysql.cursors.DictCursor object at 0x000002190FDE0C40>

In [12]:
# 여러건(행) 조회
sql = """
    Select * From cart
"""
# execute : DB서버에 실어나르고 결과를 받아오라는 명령
rs_cnt = cur.execute(sql)
if rs_cnt > 0:
    print("{}건이 조회 되었습니다".format(rs_cnt))
    # 여러건 조회 결과를 갖고 있는 변수 : 커서
    rows = cur.fetchall()
    #print(rows)
    member_all = pd.DataFrame(rows)
else:
    print("조회 결과 없음")

135건이 조회 되었습니다

In [13]:
member_all

    cart_member        cart_no   cart_prod  cart_qty
0          a001  2005040100001  P101000001         5
1          a001  2005040100001  P201000018        16
2          a001  2005040100001  P302000003         7
3          t001  2005040100002  P101000002         2
4          t001  2005040100002  P302000004         2
..          ...            ...         ...       ...
130        m001  2005051800002  P202000010        23
131        m001  2005051800002  P202000011        25
132        m001  2005051800002  P302000003         7
133        m001  2005051800002  P302000004         2
134        o001  2005052100001  P201000002         2

[135 rows x 4 columns]

In [18]:
# 1건 조회
sql = """
    Select * From member Where mem_id = 'a001'
"""
# execute : DB서버에 실어나르고 결과를 받아오라는 명령
rs_cnt = cur.execute(sql)
if rs_cnt > 0:
    print("{}건이 조회 되었습니다".format(rs_cnt))
    # 여러건 조회 결과를 갖고 있는 변수 : 커서
    row = cur.fetchone()
    print(row)
    member_one = pd.DataFrame([row])
else:
    print("조회 결과 없음")

1건이 조회 되었습니다
{'mem_id': 'a001', 'mem_pass': 'asdfasdf', 'mem_name': '김은대', 'mem_regno1': '760115', 'mem_regno2': '1406420', 'mem_bir': datetime.datetime(1976, 1, 15, 0, 0), 'mem_zip': '135-972', 'mem_add1': '대전시 동구 용운동', 'mem_add2': '222-2번지', 'mem_hometel': '042-621-4615', 'mem_comtel': '042-621-4615', 'mem_hp': '011-621-4615', 'mem_mail': 'pyoedab@lycos.co.kr', 'mem_job': '주부', 'mem_like': '수영', 'mem_memorial': '결혼기념일', 'mem_memorialday': datetime.datetime(1999, 1, 12, 0, 0), 'mem_mileage': 1000, 'mem_delete': ''}

In [19]:
member_one

,mem_id,mem_pass,mem_name,mem_regno1,mem_regno2,mem_bir,mem_zip,mem_add1,mem_add2,mem_hometel,mem_comtel,mem_hp,mem_mail,mem_job,mem_like,mem_memorial,mem_memorialday,mem_mileage,mem_delete
0,a001,asdfasdf,김은대,760115,1406420,1976-01-15,135-972,대전시 동구 용운동,222-2번지,042-621-4615,042-621-4615,011-621-4615,pyoedab@lycos.co.kr,주부,수영,결혼기념일,1999-01-12,1000,

In [20]:
# 데이터 입력,수정, 삭제
sql = """
    Insert Into cart(cart_member, cart_no, cart_prod, cart_qty)
    Values('t001', '202301190001', 'P101000002', 4)
"""
rs_cnt = cur.execute(sql)
if rs_cnt > 0:
    print("{}건이 입력 되었습니다".format(rs_cnt))
else:
    print("입력 결과 없음")

1건이 입력 되었습니다

In [21]:
# 수정
sql = """
    Update cart
    Set cart_qty = 14
    Where cart_no = '202301190001'
"""
rs_cnt = cur.execute(sql)
if rs_cnt > 0:
    print("{}건이 수정 되었습니다".format(rs_cnt))
else:
    print("수정 결과 없음")

1건이 수정 되었습니다

In [22]:
# 삭제
sql = """
    Delete From cart
    Where cart_no = '202301190001'
"""
rs_cnt = cur.execute(sql)
if rs_cnt > 0:
    print("{}건이 삭제 되었습니다".format(rs_cnt))
else:
    print("삭제 결과 없음")

1건이 삭제 되었습니다

In [24]:
# DB와 연결 끊기
# 연결 끊는 순서 : 커서 close, 접속 close
# 예외처리
try:
    cur.close()
    conn.close()
except:
    print("서버에 이상이 있거나, 이미 접속을 끊었습니다.")

서버에 이상이 있거나, 이미 접속을 끊었습니다.