In [1]:
# 공공데이터 대표 사이트 : data.go.kr

In [4]:
# csv파일 사용
# bicycle.csv 파일 읽어들이기
# 데이터프레임 변수 : df1
# 상위 5개 출력
import pandas as pd

file_path1 = "./data/bicycle.csv"
df1 = pd.read_csv(file_path1,encoding="euc-kr")
df1.head(5)

,자전거번호,대여일시,대여소번호,대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-23220,2019-11-01 8:48,646,장한평역 1번출구 (국민은행앞),3.0,2019-11-01 9:01,3,중랑센터,7.0,12.0,1100.0
1,SPB-16216,2019-11-04 8:38,646,장한평역 1번출구 (국민은행앞),2.0,2019-11-04 8:56,3,중랑센터,2.0,7.0,1420.0
2,SPB-21097,2019-11-04 8:46,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-04 8:57,3,중랑센터,7.0,10.0,NaN
3,SPB-22292,2019-11-05 8:34,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-05 8:45,3,중랑센터,NaN,10.0,1380.0
4,SPB-07935,2019-11-05 12:29,512,뚝섬역 1번 출구 옆,11.0,2019-11-05 12:39,3,중랑센터,7.0,10.0,1650.0

In [6]:
# 엑셀파일 불러들이기

file_path2 = "./data/bicycle.xlsx"
df2 = pd.read_excel(file_path2)
df2.head(5)

,자전거번호,대여일시,대여소번호,대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-23220,2019-11-01 08:48:31,646,장한평역 1번출구 (국민은행앞),3.0,2019-11-01 09:01:24,3,중랑센터,7.0,12.0,1100.0
1,SPB-16216,2019-11-04 08:38:39,646,장한평역 1번출구 (국민은행앞),2.0,2019-11-04 08:56:33,3,중랑센터,2.0,7.0,1420.0
2,SPB-21097,2019-11-04 08:46:37,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-04 08:57:35,3,중랑센터,7.0,10.0,NaN
3,SPB-22292,2019-11-05 08:34:59,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-05 08:45:45,3,중랑센터,NaN,10.0,1380.0
4,SPB-07935,2019-11-05 12:29:00,512,뚝섬역 1번 출구 옆,11.0,2019-11-05 12:39:37,3,중랑센터,7.0,10.0,1650.0

In [7]:
# read.json 파일 읽어들이기
file_path3 = "./data/read.json"
df3 = pd.read_json(file_path3)
df3.head(5)

,1.FirstName,2.LastName,3.Age,4.University,5.Courses
0,Gildong,Hong,20,Gachon University,"{'Classes': ['Probability', 'Generalized Linea..."
1,Gildong,Hong,20,Gachon University,"{'Classes': ['Data Structure', 'Programming', ..."

In [10]:
# 데이터프레임을 csv로 저장하기
# data폴더에 저장
# 저장파일명 : bicycle_save.csv
# 저장할 데이터프레임 : df1
df1.to_csv("./data/bicycle_save.csv", index = False)

In [11]:
df2.to_excel("./data/bicycle_save.xlsx", index = False)

In [13]:
df3.to_json("./data/read_save.json")